/*body {
    background-image: url("/img/paper_fibers.jpg");
}*/
body {
    font-family: tahoma,verdana,arial,sans-serif,Lucida Sans;
    font-size: 11px;
    margin: 0;
}
table {
	border-collapse: collapse;
	width: 60%;
}

th, td {
	border: none;
}

th {
	
}

a {
    color: #2B587A;
    text-decoration: none;
    padding: 3px 0 3px 0;
}

#main {
    width: 800px;
    margin: 0 auto;
    border: 1px #000000;
}

#header {
    background-color: #6495ed;
    width: 100%;
    height: 40px;
    border-radius: 0 0 5px 5px;
}

#nav {
    float: left;
    margin: 5px 5px 0 0;
    width: 100px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav li div{
    padding: 5px 0;
    padding-left: 5px;
}

#nav li:hover {
    float: left;
    width: 100px;
    background-color: #f0efff;
    cursor: pointer;
    border-radius: 1px;
}

.new-random-quote {
    clear: both;
    padding: 5px;
}

div.new-random-quote:hover {
    cursor: pointer;
}

.quote-box {
    float: left;
    margin: 0;
    padding: 15px;
    width:  660px;
    height: 100%;
    border-left: 2px solid #e9e9e9;
    border-right: 2px solid #e9e9e9;
}